<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="banner-attribute">
    <h1>Get inspired!</strong></h1>
    <p>Discover your passion while learning</p>
    <p>anything directly from your mentors.</p>
    <a class="btn btn-outline-light" href="">Explore Class</a>
  </div>
</div>


