
<div class="user-card-container-on-profile">
  <%= cl_image_tag current_user.avatar, crop: :thumb, gravity: :face, class: "avatar-profile-on-usershow" %>
  <div class="info-container">
    <h4><strong><%= @event.user.fullname %></strong></h4>
    <p> @event.user.expertise </p>
  </div>
</div>

