
<div class="user-card-container-on-profile">
  <%= cl_image_tag current_user.avatar, crop: :thumb, gravity: :face, class: "avatar-profile-on-usershow" %>
  <div class="info-container">
    <h4><strong><%= @event.user.fullname %></strong></h4>
    <p> @event.user.expertise </p>
    <button class="btn btn-color m-1"><%= link_to 'Go to profile', user_path(@event.user.id)  %></button>
  </div>
</div>

