<div class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <h1>Follow Us</h1>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <h6>Learn anything you want</h6>
  </div>
</div>
