<%= form_tag events_path, method: :get do %>
  <div class="search-form-control form-group d-flex" style="margin: 0;" >
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find title"
    %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search d-flex" style="padding-top: 3px;"></i>
    </button>
  </div>

<% end %>
