<p id="notice"><%= notice %></p>
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>Browse through our classes category</h1>
  </dir>
</div>

<div id="events" class="cards">
    <%= render 'shared/card_event', events: @events %>
  </div>
</div>
<br>

