<%= render "shared/banner" %>
<div class="container-why">
    <h1 class="m-5"><strong>How it works</strong></h1>
    <p> Our vision is to empower the society by giving them a platform to learn any knowledges </p>
    <p> they interested in from the expert. Let's bridge the gap between students and professionals. </p>
    <div class="cards-why-container">
      <div class="card-why">
        <img src="<%=image_path "community.svg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Join a Community</h3>
        <p>Once you registered, we will invite you to join our exclusive slack channel where you will be able to network among the community, share your ideas and engage in likeminded conversations throughout the channels.</p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "mentor.svg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Become a Mentor</h3>
        <p>Mentors exist to help guide people in finding answers needed to navigate challenges and progress. Mentor.in offersthat platform to connect mentors and mentees seeking a path for personal growth and career adbancement.</p>
      </div>
    </div>
  </div>
