.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  width: 100%;
  height: 100%;
}


.banner-sml {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}

.banner-attribute {
  margin-left: 70px;
  margin-bottom: 23px;
}

.banner h1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

.banner p {
  font-size: 20px;
  color: white;
}
.parent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.parent-nowrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
}


.banner-event {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

