.user-card-container {
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 32px 0;
  padding: 32px;
  align-items: center;
  box-sizing:  border-box;
  position: relative;
}

.card-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.user-card-container-on-profile {
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 16px;
  align-items: center;
  box-sizing:  border-box;

  h4 {
    font-size: 20px;
    color: #39454C;
  }

  p {
    font-size: 14px;
    color: #39454C;
  }
}

.user-card-container .avatar {
  border-radius:24;
  position: absolute;
}

.info-container {
  padding-left: 36px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 1;
}


.center {
  margin: auto;
  width: 100%;
  padding-top : 24px;
}

.edit-btn {
  background:#39454C;
  padding: 8px 40px;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
  a {
    text-decoration: none;
    color: white;
  }
}

.devise-profile-card {
  padding: 16px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.2);
  flex-shrink: 0;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  border-radius: 8px;
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 70px;

  h2, p {
      color: #39454C;
  }
}


