<div class="banner-event" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= asset_path 'bg.jpg' %>);">
  <div class="banner-sml">
    <div class="container sub-banner">
      <h1 style="color: #C95051;"><strong>My Class</strong></h1>
      <h5 style="color: #39454C">All registered class</h5>
    </div>
  </div>
</div>
<div id="events" class="cards my-5">
  <%= render 'shared/card_my_event', appointments: @appointment %>
</div>

