<div class="container">
  <h1>Register the class</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 my-2">
      <%= simple_form_for [@event, @appointment] do |f| %>
        <div class="form-inputs">
          <%= f.input :date %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
